    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: #fff;
        background-color: #1E1E1E;
        font-family: 'Roboto', sans-serif;
    }


    /* header css start here */

    header {
        background: linear-gradient(to bottom, #181818 40%, #0b0b0b 100%);
        padding-block: 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 222;
    }

    .container {
        padding-inline: 40px;
    }

    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__main {
        display: flex;
        align-items: center;
    }

    .header__navigaiton {
        margin-left: 50px;
    }

    .header__logo a {
        display: block;
        color: #C62E42;
        text-decoration: none;
        text-transform: lowercase;
    }

    .header__navigaiton ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    .header__navigaiton ul li a {
        color: #ffff;
        text-decoration: none;
        font-size: 14px;
        transition: .3s;
    }

    .header__navigaiton ul li a:hover {
        color: #C62E42;
    }

    .header__navigaiton ul li {
        padding-inline: 20px;
        border-left: 1px solid #fff;
    }

    .header__navigaiton ul li:first-child {
        border-left: 0;
    }

    .heade__live a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
        background: #C62E42;
        padding: 15px 30px;
        border-radius: 7px;
        transition: .3s;
    }

    .heade__live a:hover {
        color: #C62E42;
    }

    .dropdown__button {
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 0;
        background: transparent;
        color: #C62E42;
        border: none;
        cursor: pointer;
    }

    .heade__live {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .dropdown__nav {
        position: absolute;
        background: #121212;
        overflow: hidden;
        top: 89px;
        height: 0;
        transition: .3s;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 22;
    }

    .dropdown__container.active .dropdown__nav {
        height: 299px;
    }

    .dropdown__close {
        display: none;
    }

    .dropdown__container.active .dropdown__open {
        display: none;
    }

    .dropdown__container.active .dropdown__close {
        display: inline-block;
    }

    .dropdown__nav ul li a {
        padding: 0;
        background: transparent;
        padding: 20px 15px;
        border-bottom: 1px solid #C62E42;
        border-radius: 0;
    }

    .dropdown__nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown__nav ul li:last-child a {
        border: none;
    }

    /* header css end here */



    /* main css start here */

    .aside__nav ul li a {
        color: #fff;
        font-size: 30px;
        transition: .3s;
    }

    .aside__nav ul li a:hover {
        color: #C62E42;
    }

    .aside__nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 20px;
        list-style: none;
    }

    main {
        margin: 89px 0 20px 77.5px;
    }

    aside {
        position: fixed;
        top: 0;
        background: linear-gradient(to bottom, #181818 0%, #0b0b0b 100%);
        left: 0;
        bottom: 0;
        margin-top: 89px;
        padding: 30px 20px;
        z-index: 2;
    }


    .stream__flex {
        display: flex;
        justify-content: space-between;
        padding-block: 35px 15px;
    }

    .stream__next__video {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .video__container iframe {
        width: 100%;
        border: none;
    }

    .stream__main {
        width: 70%;
        padding: 0 20px 0 35px;
    }

    .stream__side {
        width: 30%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .single__next__video iframe {
        height: 270px;
    }

    .stream__video__run .video__container iframe {
        height: 600px;
    }

    .stream__next__container {
        margin-top: 35px;
    }

    .video__container {
        border-radius: 10px;
        overflow: hidden;
    }

    .stream__side__container {
        background: #000;
        border-radius: 10px 0 0 10px;
    }

    .stream__side__row {
        margin-left: 20px;
        border-bottom: 2px solid #191919;
        padding-block: 20px;
    }

    .stream__side__text {
        padding-right: 20px;
    }

    .stream__side__text p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 15px;
    }

    .stream__side__row:last-child {
        border: none;
    }

    /* main css end here */

    .dropdown__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease;
        z-index: 50;
        backdrop-filter: blur(6px);
    }

    .dropdown__overlay.active {
        opacity: 1;
        visibility: visible;
    }




 